@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <p>Pequeno sistema produzido no dia 28/3/2025 por <a href="https://github.com/Kevin-C-Silva">Kevin-C-Silva</a>.</p>
</div>
